.item-container .date-container {
  display: block;
  width: 105px;
  height: 100%;
  background-color: #191819;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 30px;
}

.item-container .date {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.item-container .date .month {
  font-size: 14px;
  font-weight: bold;
}
.item-container .date .year {
  position: inherit;
  font-size: 14px;
  bottom: 10px;
}

.item-container .date .day {
  position: inherit;
  font-size: 28px;
  font-weight: bold;
  bottom: 5px;
}
