

.addexp-container{
    margin-top: 50px;
    width: 800px;
    height: 110px;
    background-color: #8979E1;
    border-radius: 10px;
  }
  
  #submit-desc,
  .addexp-container button{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 230px;
    height: 70px;
    font-size: 18px;
    color: #fff;
    background-color: #250A3D;
    border: none;
    border-radius: 10px;
  }

  .addexp-container button:hover{
    background-color: #6d478f;
  }

  .addexp-input-container.hidden{
    visibility: hidden;
  }

  .addexp-input-container{
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 10px;
    box-shadow: rgba(140, 0, 255, 0.3) 0px 20px 100px;

  }

  .addexp-input-container .input-content{
    position: absolute;
    height: 300px;
    display: flex;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.addexp-container .background{
  width: 100%;
  height: 100%;
  background-color: rgba(248, 0, 0, 0.5);
  z-index: 5;
}

.input-content form input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #EFD4FC;
    border: none;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    
  }

.addexp-input #submit-desc{
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

form .addexp-input{
  position: relative;
  text-align: left
}

.addexp-input label {
  display: block;
  margin-bottom: 0.5rem;
}



