.graph-container{
    position: relative;
    width: 95%;
    height: 180px;
    background-color: #EFD4FC;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
}