.expense-container {
  width: 800px;
  background-color: #121112;
  color: #fff;
  height: auto;
  border-radius: 10px;
  margin-top: 40px;
  padding-bottom: 2px;
}

.expense-container .heading {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 0px 50px;
}

.expense-container .heading button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  transform: translateY(20%);
}
